/*=============Universal box styling=====================*/
* {
  box-sizing: border-box;
}
/*========================================================*/



/*=================Basic page styles===================*/
:root {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}
/*======================================================*/



/*=============Header=================*/
header {
  background: #101f38;
  color: #fff;
}

header h1 {
  margin-top: 0;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
}
/*======================================*/



/*=======================Introduction=====================*/
.intro h2,
 p {
  text-align: center;
}

.intro h2 {
  color: #001a33;
  font-size: 1.2em;
  padding: 5px 5px 0;
}

.intro p {
  color:  #ccc;
  font-size: .90em;
  padding: 0 10px;
}
/*=========================================================*/



/*=========Border before Contact Form===========*/
.top-border {
  border-top: 4px solid #585858;
  width: 95%;
  margin: 0 auto;
  margin-top: 2px;
}

.bottom-border {
  border-top: 2px solid #585858;
  width: 95%;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 20px;
}
/*=========================================================*/



/*=================General Form Styles============*/
form {
  width: 100%;
  margin: 0 auto;
}

fieldset {
  border: none;
}

legend h2 /*Contact-info and Newsletter legend*/ {
  font-size: 1.2em;
  padding-bottom: 15px;
}

.contact-section input,
select {
    width: 100%;
}

label {
  color: #666666;
  font-size: .95em;
  font-weight: lighter;
}

input {
  background: #f2f2f2;
  border-radius: 2%;
  border: none;
  margin: 15px 0;
  height: 45px;
}
/*=================================================*/



/*==============Form-Contact Information===============*/
select{
  background: #f2f2f2;
  margin: 10px auto;
  margin-bottom: 20px;
  height: 45px;
  border: none;
  border-radius: 2%
}

input[placeholder="Required"]{
  text-align: right;
  padding-right: 15px;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus {
  text-align:left;
}

input::placeholder{
  text-align: right;
}

::placeholder {
  color: #cdcfd3;
}
.contact-section input:focus {
  transition: 1s;
  border: 1px solid darkblue;
  box-shadow: 5px 5px 5px lightgrey;
  outline: 0 none;
}

label[for="zip"] /*Gives breathing room from the state select box*/ {
  margin-bottom: 50px;
}

#zip {
  display: block;
  width: 50%;
}
/*======================================================*/



/*================Border above Newsletter====================*/
.news-border {
  border-top: 3px solid #585858;
  width: 95%;
  margin: 20px auto;
}
/*===========================================================*/



/*====================Form-Newsletter===================*/
.select-letter {
  color: #ccc;
  text-align: left;
  line-height: 175%;
}

.newsletter-section input,
.newsletter-section label {
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-right: 15px;
}

.newsletter-section p {
  text-align: left;
  color:  #001a33;
  font-size: .90em;
}

.newsletter-section textarea {
  background: #f2f2f2;
  width: 100%;
  height: 100px;
  border-style: none;
  border-radius: 2%;

}

.newsletter-section textarea:focus {
  background: lightblue;
  transition: 1s;
  border: 1px solid darkblue;
  box-shadow: 5px 5px 5px lightgrey;
  outline: 0 none;
}
/*======================================================*/



/*==================Sign Up Button======================*/
button[type="submit"] {
  width: 95%;
  height: 65px;
  margin-top: 20px;
  background: #5dd5d5;
  color: #fff;
  font-size: 1.7em;
  border-radius: 2%;
  border: none;
}

.sign-up {
  text-align: center;
}
/*======================================================*/



/*========================Footer=========================*/
footer {
  margin-top: 30px;
  color: #b3b3b3;
  font-style: italic;
}
/*=======================================================*/



/*====================Media Query=======================*/
@media(min-width:768px) {

  header h1 {
    font-size: .95em;
    text-align: center;
  }

  .container {
    width: 70%;
  }

  .contact-section label {
    float: left;
    clear: both;
    margin-top: 25px;
  }

  .contact-section input,
  .contact-section select {
    float: right;
    vertical-align: middle;
    position: relative;
    width: 75%;
  }

  #zip {
    width: 75%;
  }
}
/*=======================================================*/
